*, *::before, *::after {
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

:root {
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
}

body {
    --hue: var(--hue-neutral);
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: hsl(var(--hue), 100%, 20%);
}
/* colour for correct answer */
body.correct {
    --hue: var(--hue-correct);

}
/*colour for wrong answer*/
body.wrong {
    --hue: var(--hue-wrong);
}

.container {
    width: 300px;
    max-width: 100%;
    background-color: white;
    border-radius: 3px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
    --hue: var(--hue-neutral);
    border: 1px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue), 100%, 50%);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
}

.btn-hover {
    border-color: black;
}

.btn.correct {
    --hue: var(--hue-correct);
    color: black;
}

.btn.wrong {
    --hue: var(--hue-wrong);
}

.start-btn, .next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

.title {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    color: var(--white);
}

.info-title { 
    color: var(--black);
}

#rules h1 {
    text-align: center;
    border-top: 3px solid var(--black);
    margin-top: 10px;
    padding-top: 15px;
    text-decoration: underline;
    color: var(--white);
}

.info-box {
    min-width: 75%;
    max-width: 80%;
    background: var(--Mainbg);
    border-radius: 20px;
    border-style: solid;
    border-width: 3px;
}