body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: grey;
}

.wrapper{
    margin: 90px auto 0 auto;
    max-width: 700px;
}

.hide {
    display: none;
}

.start {
    text-align: center;
}

.scores {
    position: absolute;
    top: 15px;
    left: 15px;
}

.timer {
    position: absolute;
    top: 15px;
    right: 15px;
}

.feedback {
    font-style: italic;
    font-size: 150%;
    margin-top: 10px;
    color: blueviolet;
    border-top: 4px rgb(194, 210, 50);
}

a {
    color: black;
    text-decoration: none;
}

button {
    display: inline-block;
    margin: 5px;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 100%;
    background-color: white;
    border-radius: 10px;
    padding: 2px 10px;
    color: rgb(17, 16, 16);
    border: 0;
  }

  .choices button {
    display: block;
  }
  
  input[type="text"] {
    font-size: 100%;
  }
  
  ol {
    padding-left: 0px;
    max-height: 400px;
    overflow: auto;
  }
  
  li {
    padding: 5px;
    list-style: decimal inside none;
  }
  
  li:nth-child(odd) {
    background-color: #bab0c9;
  }

